.chat-window {

    /* min-width: 500px; */
	max-width: 80vh;
	/* max-height: 80vh; */
}

.chat-window p {
	margin: 0;
    
}
.chat-window .chat-header {
	height: 45px;
	border-radius: 6px;
	background: #263238;
	position: relative;
	cursor: pointer;
}
.chat-window .chat-header p {
	display: block;
	/* padding: 5px 10px; */
	padding: 0 1em 0 1em;
	text-align: center;
	color: #fff;
	font-weight: 700;
	line-height: 45px;
}

.chat-window .chat-body {
	height: calc(450px - (45px + 70px));
	border: 1px solid #263238;
	background: #fff;

	position: relative;
}
.chat-window .chat-body .message-container {
	width: 100%;
	height: 100%;
	overflow-y: scroll;
	overflow-x: hidden;
}

.chat-header{
    padding: 0.5em 1em;
}
.chat-window .chat-body .message-container::-webkit-scrollbar {
	display: none;
}
.chat-window .chat-body .message {
	height: auto;
	padding: 10px;
	display: flex;
}

.chat-window .chat-body .message .message-content {
	width: auto;
	height: auto;
	min-height: 40px;
	max-width: 120px;
	background-color: #4dc16c;
	border-radius: 5px;
	color: white;
	display: flex;
	align-items: center;
	margin: 0px 5px;
	padding-right: 5px;
	padding-left: 5px;
	overflow-wrap: break-word;
	word-break: break-word;
}

#you {
	justify-content: flex-end;
}

#you .message-content {
	justify-content: flex-end;
}

#you .message-meta {
	justify-content: flex-end;
	margin-left: 5px;
}

#other {
	justify-content: flex-start;
}

#other .message-content {
	justify-content: flex-start;
	background-color: rgb(126, 147, 212);
}

#other .message-meta {
	justify-content: flex-start;
	margin-right: 5px;
}

.message-meta #author {
	margin-left: 10px;
	font-weight: bold;
}

.chat-window .chat-body .message .message-meta {
	display: flex;
	/* font-size: 12px; */
}

.chat-window .chat-footer {
	height: 40px;
	/* border: 1px solid #263827; */
	border-top: none;
	display: flex;
}

.chat-footer{
    margin-top: 10px;
}

.chat-footer input {
	height: 100%;
	/* flex: 85%; */
    margin: auto;
    margin: 0;
	border: 0;
	padding: 0 0.7em;
	font-size: 20px;
	border-right: 1px dotted #607d8b;

	outline: none;
	font-family: "Poppins", sans-serif;
}

.chat-footer button {
	border: 0;
    height: 100%;
	display: grid;
	place-items: center;
	cursor: pointer;
	max-width: 80px;
    flex: 15%;
    margin: 0;
    margin-left: 5px;
    padding: 0;
    border-radius: 5px;
	/* height: 100%; */
	background: black;
	color: rgb(239, 239, 239);
	outline: none;
	font-size: 25px;
}

.chat-footer button:hover {
	color: #011302;
    background-color: #4dc16c;
}

#time,
#author {
	color: #8d989890;
	font-size: 15px;
}

.hide {
	opacity: 0 !important;
}
